<div class="event-preview">
  <app-event-meta [event]="event">
    <app-favorite1-button
      [event]="event"
      (toggle)="onToggleFavorite($event)"
      class="pull-xs-right">
      {{event.favoritesCount}}
    </app-favorite1-button>
  </app-event-meta>

  <a [routerLink]="['/event', event.slug]" class="preview-link">
    <h1>{{ event.title }}</h1>
    <p>{{ event.description }}</p>
    <span>Read more...</span>
    <ul class="tag-list">
      <li class="tag-default tag-pill tag-outline"
        *ngFor="let tag of event.tagList">
        {{ tag }}
      </li>
    </ul>
  </a>
</div>
