<app-blog-preview
  *ngFor="let blog of results"
  [blog]="blog">
</app-blog-preview>

<div class="app-blog-preview"
  [hidden]="!loading">
  Loading blogs...
</div>

<div class="app-blog-preview"
  [hidden]="loading || results.length">
  No blogs are here... yet.
</div>

<nav [hidden]="loading || totalPages.length <= 1">
  <ul class="pagination">

    <li class="page-item"
      [ngClass]="{'active': pageNumber === currentPage}"
      *ngFor="let pageNumber of totalPages"
      (click)="setPageTo(pageNumber)">

      <a class="page-link" >{{ pageNumber }}</a>

    </li>

  </ul>
</nav>
