// Descriptive Colors
$white: #ffffff;
$blue: #3f51b5;
$red: #dc143c;
$grey: #bbbbbb;
$light-grey: #eeeeee;
$light-green: #228B22;
// Functional Colors
$primary--color: $blue;
$secondary--color: $white;
